<main>
  Заявка на новый заказ. <br />
  Имя: <%= locals.name %> <br />
  Фамилия: <%= locals.surname %> <br />
  Тип работы: <%= locals.jobType %> <br />
  Номер телефона: <%= locals.phoneNumber %> <br />
  email: <%= locals.email %> <br />
</main>